#login {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
#login .title {
    text-transform: capitalize;
}
#login .title span {
    text-transform: lowercase;
}
#login .title h3 {
    font-size: 24px;
    color: var(--color-grey);
    font-weight: 600;
    margin: 40px auto;
    padding: 0px;
    position: relative;
    width: max-content;
}
#login .title h3::after {
    position: absolute;
    text-align: center;
    bottom: -6px;
    left: 0;
    content: "";
    width: 50%;
    height: 3px;
    background-color: var(--color-green);;
}
#login .title h5 {
    text-align: center;
    font-size: 13px;
    color: #9c9797;
    font-weight: 500;
    margin-bottom: 20px;
}