#sid {
    min-height: 100vh;
    width: 230px;
    background-color: var(--color-lightgrey);
    font-family: 'Noto Sans JP', sans-serif;
}
.sidebarOverlay, .sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    box-sizing: border-box;
}
.sidebarOverlay {
    z-index: 13;
    background-color: rgba(0,0,0,.5);
    right: 0;
    width: 100%;
    visibility: visible;
    animation: d .5s;
}
.sidebar {
    background-color: var(--color-white);
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    padding: 20px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0px
}
.right {
    right: 0;
    width: 400px;
    padding: 10px;
    background-color: var(--color-lightgrey);
    z-index: 13;
}
.right .container {
    background-color: var(--color-lightgrey);
    overflow-x: hidden;
    position: relative;  
    width: 100%;
    height: fit-content;
    min-height: 100%;
}
.right .container .wrapper {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    transition: 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.right .container .add-card {
    transform: translateX(-100%);
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right .container .wrapper .row {
    margin-top: 15px;
}
.right .container .wrapper .row p, .right .title h3 {
    margin: 0px;
    text-transform: capitalize;
    color: var(--color-grey);
    font-size: 13px;
    font-weight: 500;
}
.right .title {
    margin: 10px 0px 20px 0px;
}
.right .container .wrapper .row .active{
    color: var(--color-pink);
}
.right .title h3 {
    color: var(--color-green);
    font-size: 17px;
    font-weight: 700;
    margin: 20px 0px;
}
.right .bottom {
    margin-top: 50px;
    margin-bottom: 10px;
}
.left {
    left: 0;
    width: 230px;
    z-index: 13;
    background-color: var(--color-lightgrey);
    border-right: 0.5px solid rgb(209, 209, 209);
}
.left .account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(71, 191, 179, 0.2);
    padding: 20px 10px;
    width: 90%;
    margin: 10px 5% 50px 5%;
    box-sizing: border-box;
    border-radius: 15px;
}
.left .account-container h3 {
    text-transform: lowercase;
    color: var(--color-grey);
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}
.sidebar .liste a {
    padding: 20px 10px;
    text-transform: capitalize;
    color: var(--color-grey);
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s;
    box-sizing: border-box;
}
.sidebar .liste .active, .sidebar .liste .active:hover, .sidebar .liste a:hover {
    background-color: rgba(71, 191, 179, 0.2);
}
.sidebar .liste .active {
    position: relative;
}
.sidebar .liste .active::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    border-left: 5px solid var(--color-green);
    color: #000;
}
.sidebar .liste a p {
    margin-left: 10px;
}
.dividerX {
    width: 90%;
    height: 1px;
    background-color: lightgray;
    margin: 15px 10px;
    opacity: 0.7;
}
.left::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
   background: rgb(202, 202, 202);
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
   background: rgb(187, 187, 187);
}
@keyframes d {
    0%   {opacity: 0}
    100% {opacity: 1}
  }
@media screen and (max-width: 1024px){
    #sid {
       width: 0;
    }
    .left {
        top: 70px;
     }
}
@media screen and (max-width: 500px){
    .sidebar {
       width: 90%;
    }
}

