.App {
 margin: 0px;
 padding: 0px;
 background-color: var(--color-lightgrey);
 font-family: 'Noto Sans JP', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}
.light {
  --color-pink: #f585b8;
  --color-green: #47C4B8;
  --color-grey: #363642;
  --color-lightgrey: #f7fafc;
  --color-white: #ffffff;
}
.dark {
  --color-pink: #f585b8;
  --color-green: #47C4B8;
  --color-grey: #ffffff;
  --color-lightgrey:  #363642;
  --color-white: #363636;
}
